body {
  padding-top: 5px;
  padding-bottom: 30px;
  position: relative;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}


.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.affix {
  top: 20px;
  width: 213px;
}

@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }         
}

.affix-bottom {
  position: absolute;
  width: 213px;
}

@media (min-width: 1200px) {
  .affix-bottom {
    width: 263px;
  }
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
  text-decoration: none;
  border-radius:0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #551A8B;
  color: #333 !important;
  background-color: transparent !important;
}
.nav-pills > li > a{
  border-radius:0px;
  color: inherit;
  border-radius:0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}